@model IEnumerable<JokeWebApp.Models.Joke>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>Click on 'Details' to see full joke.</p>
</div>