@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HA-HA-HA SO FUNNY!</h1>
    <p>What a hilarious attempt of creating a webapp using C# on a macOS!</p>
</div>
